# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.*.local

# Database files
*.sql

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db